doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp")
  body
    header 
      nav.navbar 
        ul.navbarUl
          .flexLeft
            li 
              img(src='https://www.theodinproject.com/assets/icons/odin-icon-b5b31c073f7417a257003166c98cc23743654715305910c068b93a3bf4d3065d.svg' alt='logo' class="logo")
            li 
              .searchDiv
                span.material-icons-outlined.searchIcon search
                input(type='text' class="searchInput" placeholder="Search Odinbook")
          .flexCenter
            //test for now!
            li#currentSection
              span.material-icons home
              p.navbarText Home
            li  
              span.material-icons people_alt
              p.navbarText Friends
            li  
              span.material-icons-outlined ondemand_video
              p.navbarText Watch
            li  
              span.material-icons-outlined storefront
              p.navbarText Marketplace
            li.menuIcon  
              span.material-icons-outlined menu
              p.navbarText More
            li.gamingIcon  
              span.material-icons-outlined sports_esports
              p.navbarText Gaming
          .flexRight 
            .userInfo
              if user 
                if user.image
                  if user.image === "none"
                    img(src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="Profile Picture" class="profilePicture")
                  else
                    img(src=user.image alt="Profile Picture" class="profilePicture")
                else 
                  img(src="http://graph.facebook.com/" + user.password + "/picture?type=square" class="profilePicture" alt="Profile Picture")
                p.userFirstName= user.first_name
            .flexRightIcons
              li.appsIcon
                span.material-icons-outlined apps
                p.navbarText Menu
              li.addIcon 
                span.material-icons-outlined add
                p.navbarText Create
              li 
                span.material-icons-outlined chat_bubble
                p.navbarText Messenger
              li  
                span.material-icons notifications
                p.navbarText Notifications
              li  
                span.material-icons arrow_drop_down
                p.navbarText Account

    main

      section.leftSideSection
        nav.leftSideNavbar
          ul 
            li 
              if user 
                if user.image
                  if user.image === "none"
                    img(src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png" alt="Profile Picture" class="profilePicture")
                  else
                    img(src=user.image alt="Profile Picture" class="profilePicture")
                else 
                  img(src="http://graph.facebook.com/" + user.password + "/picture?type=square" class="profilePicture" alt="Profile Picture")
                p.leftsideNavbarPara #{user.first_name} #{user.last_name}
            li
              img(src="https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/S0U5ECzYUSu.png" alt="" class="leftSidebarNav")
              p.leftsideNavbarPara Find friends
            li
              img(src="https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/PrjLkDYpYbH.png" alt="" class="leftSidebarNav")
              p.leftsideNavbarPara Groups
            li
              img(src="https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/D2y-jJ2C_hO.png" alt="" class="leftSidebarNav")
              p.leftsideNavbarPara Marketplace
            li
              img(src="https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/duk32h44Y31.png" alt="" class="leftSidebarNav")
              p.leftsideNavbarPara Watch
            li
              img(src="https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/he-BkogidIc.png" alt="" class="leftSidebarNav")
              p.leftsideNavbarPara Memories
            li
              img(src="https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/lVijPkTeN-r.png" alt="" class="leftSidebarNav")
              p.leftsideNavbarPara Saved
            li
              img(src="https://static.xx.fbcdn.net/rsrc.php/v3/yH/r/kyCAf2jbZvF.png" alt="" class="leftSidebarNav")
              p.leftsideNavbarPara Pages
            li
              img(src="https://static.xx.fbcdn.net/rsrc.php/v3/yT/r/jEh7gupryIB.png" alt="" class="leftSidebarNav")
              p.leftsideNavbarPara News
            li
              img(src="https://static.xx.fbcdn.net/rsrc.php/v3/yu/r/eXC82ZeepQ7.png" alt="" class="leftSidebarNav")
              p.leftsideNavbarPara Events
            li
              img(src="https://static.xx.fbcdn.net/rsrc.php/v3/yc/r/hTN47HVa4oS.png" alt="" class="leftSidebarNav")
              p.leftsideNavbarPara Most Recent
            li.seeMoreLeftIcon
              span.material-icons-outlined expand_more
              p.leftsideNavbarPara See more
      
      section.display
        block content

      section.rightSideSection  
        nav.rightSideNavbar 
          .rightSideSponsored
            h3.rightSideHeadings Sponsored 
            img(src='https://i.ibb.co/b2dD0ww/bbbb.jpg' alt='ad' class='ad')
          h3.linksHeading.rightSideHeadings Links
          ul.rightSideList
            if user
              li
                a(href='/user/log-out') Log Out
              li
                a(href='/posts/create') Create Post
            else
              li
                a(href='/user/sign-up') Sign Up
              li
                a(href='/user/log-in') Log In
              li
                a(href='/user/log-in-facebook') Log In (Facebook)
            li
              a(href='/user/users') Users
            li
              a(href='/posts') Posts
    

