extends layout

block content
  h1= post.title
  p= post.timestamp 
  hr

  p= post.content
  p= post.likes.length

  if user
    if (user.id == post.user)
      a(href='/posts/delete' + post.url) Delete Post
      a(href='/posts/update' + post.url) Update Post
    if (post.likes.includes(user.id) === false)
      a(href='/posts/like' + post.url) Like Post
    else 
      a(href='/posts/unlike' + post.url) Unlike Post

    hr
    a(href='/posts/comments/create' + post.url) Create Comment
    
  each comment in comments 
    div 
      h3
        a(href='/user/' + comment.user) #{comment.title}
      p= comment.timestamp

      br
      p=comment.content

      if user 
        if (comment.user == user.id) 
          a(href='/posts' + post.url + '/comments/delete' + comment.url) Delete Comment
          a(href='/posts' + post.url + '/comments/update' + comment.url) Update Comment